@charset "utf-8";
/* CSS Document */
body,html{overflow:hidden; overflow-y:auto;}
body{margin:0px; padding:0px; font-size:14px; color:#454545;}
a{color:#333; text-decoration:none; outline:none; cursor: pointer;}
a:active{star:expression(this.onFocus=this.blur()); color:#454545;} 
img{border:0px;}
a:link {text-decoration: none; outline:none; color:#454545;}
a:visited{text-decoration: none; outline:none; color:#454545;}
a:hover{text-decoration:none; color:#1c5a97; outline:none;}
ul, p, dl, dt, dd{padding:0px; margin:0px;}
dl{    display: block;    -webkit-margin-before: 0;    -webkit-margin-after: 0;    -webkit-margin-start: 0px;    -webkit-margin-end: 0px;}
li{list-style-position:outside; list-style-type:none;}
h1, h2, h3, h4, h5{font-size:14px; padding:0px; margin:0px;}
h5{font-size:12px;}

.fl{float:left;}
.fr{float:right;}
.clear_f{clear:both; height:0px; padding:0px; margin:0px; display:block; _display:inherit;}
.h10{height:10px; overflow:hidden; clear:both;}
input{background:transparent; padding:0px; font-size:12px; font-family:"微软雅黑"; color:#888; outline:none; }
em{font-style:normal;}
.mar10{ margin-top:10px;}
.mar20{ margin-top:20px;}
.ml10{ margin-left:10px;}
.mr10{ margin-right:10px;}
.pad10{ padding-top:10px;}
.bot10{ margin-bottom:10px;}
/*清除浮动2*/
.clearfix:after{ visibility:hidden; display:block; font-size:0; content: " "; clear:both; height:0;}  
.clearfix { display: inline-block; }  
* html .clearfix { height: 1%; }  
.clearfix { display: block; }


#bg-body {
    background:left top no-repeat;
	position: absolute;
	
    width: 100%;
	height:450px;

}
#bg-body img {
  top:0px;
  left:0px;
   position: absolute;
   width: 100%;
    
}
#id_banner{ z-index:1;}
.header{ z-index:99;position:relative;}
.container{ width:1002px; margin:0px auto;z-index:99;position:relative; }
.h_logo{ padding-top:80px; padding-bottom:60px;}
.navbox{ height:66px; background-image:url(../images/nav_bg.png); width:960px; overflow:hidden;z-index:99;position:relative; padding:0px 21px;}
.navbox ul li{ width:240px; float:left; }
.navbox ul li dl{ padding:8px 0px;}
.navbox ul li dl dt{float:left;}
.navbox ul li dl dt a{ width:75px; height:50px; display:block;   color:#fff; font-size:16px; }
.navbox ul li dl dt a span{ display:block; width:20px; margin-left:48px; line-height:18px;padding-top:8px; font-weight:bold;}
.navbox ul li dl dd{ float:left; line-height:25px;margin-left:5px;  margin-left:18px;}
.navbox ul li dl dd a{ color:#fff;}
.navbox ul li dl dt.n_1 a{background:url(../images/n1.png) #0e5fcb 10px center no-repeat;}
.navbox ul li dl dt.n_2 a{background:url(../images/n2.png) #0e5fcb 10px center no-repeat;}
.navbox ul li dl dt.n_3 a{background:url(../images/n3.png) #0e5fcb 10px center no-repeat;}
.navbox ul li dl dt.n_4 a{background:url(../images/n4.png) #0e5fcb 10px center no-repeat;}

.tongzhiBox{ height:40px; background:#eaeaec;z-index:99;position:relative; padding:0px 10px;font-size:12px;}
.tongzhiBox .tzgg{ background:url(../images/tz_ico.png) left center no-repeat; padding-left:30px; line-height:40px; width:600px; float:left;}
.tongzhiBox .tzgg span{ float:right; color:#999;}
.tongzhiBox .tzgg b{font-size:14px; float:left;}
.tongzhiBox .tzgg{ float:left;}

.index_day{ width:300px; float:right;  position:relative;}
.index_day .bd .tempWrap{ width:300px !important; }/* 用 !important覆盖SuperSlide自动生成的宽度，这样就可以手动控制可视宽度。 */
.index_day .bd ul li{ margin-right:20px;  float:left; height:40px; line-height:40px;  text-align:left; _display:inline; width:auto !important; color:#e71f21; font-size:12px;  }

.indexbody{ background-color:#fff;}
ul.ksrkBox  li{ width:180px; height:50px; float:left; margin-left:10px;}


.footer{ background-color:#1061bc; padding:30px;}
.f_nav{ text-align:center; font-size:14px;}
.f_nav a{ color:#fff; margin:0px 5px;}
.f_nav span{ color:#fff; margin:0px 5spx;}
.f_logo{ height:62px; margin-top:25px; margin-bottom:20px;background:url(../images/f_logo.jpg)  center no-repeat;}

.f_copyright{ text-align:center; color:#fff; font-size:14px;}

.page{
	width: 510px;
	margin: 0 auto;
	padding: 40px 0 10px 0;
	height: 30px;
}


.layui-laypage .layui-laypage-curr .layui-laypage-em {
    position: absolute;
    left: -1px;
    top: -1px;
    padding: 1px;
    width: 100%;
    height: 100%;
    background-color: #1061bc;
}