
html {
  font-size: 62.5%;
}
body {
	margin: 0;
	font-size: 1.6rem;
	font-family: "Microsoft YaHei" ! important;
	color: #000;
	background-color: #f6f6f6;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.header {
	width: 100%;
	height: 115px;
	background: #fff
}



.logo {
	margin-left: 4%;
	width: 120px;
	height: 110px;
	background: url(images171225/cfan-logo.jpg) no-repeat center;
	float: left;
}

.navlist {
	margin-left: 20%;
	padding-top: 15px;
	width: 60%;
	padding-left: 1.5%;
}

.navlist li {
	float: left;
	font-size: 20px;
	line-height: 45px;
	height: 45px;
	margin-top: 25px;
	margin-right: 5%;
	display: inline-block;
}

.navlist li a:hover, .active, .active a {
	color: #ff6000
}

.navlist .on {
	border-bottom: 4px #ff7e00 solid;
}

.head-right {
	width: 25%;
	float: right;
}

.main-left {
	float: left;
	width: 67%;
	margin-left: 4%;
	margin-top: 26px;
}

.main-right {
	float: right;
	width: 23%;
	margin-right: 4%;
	margin-top: 27px;
}

.left-post {
	background: #fff;
	margin-bottom: 26px;
	width: 100%;
	height: 256px;
	text-align: center;
	border-bottom: rgba(0, 0, 0, 0.1) 2px solid;
}

.left-post-pic {
	margin-top: 16px;
	width: 30%;
	height: 180px;
	text-align: center;
	cursor: pointer;
	float: left;
	box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.12), 0px 6px 16px 0px
		rgba(0, 0, 0, 0.15);
	margin-left: 3%;
}

.left-post-txt {
	font-size: 15px;
	line-height: 22px;
	height: 100px;
}

.left-post-title {
	font-size: 20px;
	line-height: 28px;
	font-weight: bold;
	height: 50px;
}

.left-post-info {
	width: 62%;
	float: left;
	margin-left: 2.5%;
	text-align: left;
}

.left-post-note {
	font-size: 14px;
	height: 30px;
	float: left;
	margin-left: 5%;
}

.new-item {
	background: #999;
	width: 80px;
	height: 25px;
	color: #fff;
	line-height: 24px;
	font-size: 16px;
	margin-left: 3%;
}

ul, ol, dd {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

a {
	color: #000;
	text-decoration: none;
	transition: all .25s ease-out;
	-webkit-transition: all .25s ease-out;
	-moz-transition: all .25s ease-out
}

a:hover, .active, .active a {
	color: #39658f;
	cursor: pointer;
}

.clear {
	clear: both;
	font-size: 0px;
	visibility: hidden;
	width: 98%;
	height: 0px;
	line-height: 0px;
	margin: 0 auto;
	padding: 0px;
	border: 0;
}

.title {
    font-size: 24px;
    height: 38px;
}

.right-item {
    background: #000;
    width: 38px;
    height: 20px;
    color: #fff;
    line-height: 20px;
    font-size: 14px;
    margin-left: 2%;
    position: absolute;
    top: 12px;
    left: 5px;
    opacity: 0.7;
}

.right-post-pic {
    width: 100%;
    height: 180px;
    text-align: center;
    cursor: pointer;
}

.right-post-title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 100;
    height: 60px;
    text-align: left;
    margin-top: 8px;
    margin-left: 5px;
}

.right-post-date {
    font-size: 14px;
    height: 30px;
    float: left;
    width: 90%;
    text-align: left;
    margin-left: 5px;
}

.right-post {
    background: #fff;
    margin-bottom: 28px;
    width: 94%;
    height: 272px;
    text-align: center;
    border-bottom: rgba(0,0,0,0.1) 2px solid;
    padding: 3%;
    position: relative;
}


.footer-logo {
    margin-left: 5%;
    margin-top: 15px;
    width: 120px;
    height: 110px;
    background: url(images171225/cfan-logo.jpg)no-repeat center;
    float: left;
}

.footer-link {
    width: 15%;
    font-size: 16px;
    float: left;
    border-right: 0px #cfcfcf solid;
    margin-left: 1%;
    margin-top: 38px;
    height: 110px;
    text-align: center;
}

.footer-txt {
    font-size: 12px;
    width: 35%;
    margin-left: 4%;
    float: left;
    margin-top: 26px;
    line-height: 22px;
    height: 110px;
    border-right: 0px #cfcfcf solid;
}

.footer-img {
    width: 18%;
    float: left;
    margin-top: 26px;
    text-align: right;
}


@media only screen and (max-width:800px) {
	.logo {
		margin-left: 1%;
		width: 120px;
		height: 110px;
		background: url(images171225/cfan-logo.jpg) no-repeat center;
		float: left;
	}
	.navlist li {
		font-size: 18px;
		margin-right: 5%;
	}
	.head-right {
		width: 30%;
	}
}

@media only screen and (max-width:768px) {
	.header {
		width: 100%;
		height: 160px;
	}
	.logo {
		margin-left: 1%;
		width: 120px;
		height: 110px;
		background: url(images171225/cfan-logo.jpg) no-repeat center;
		float: left;
	}
	.head-right {
		width: 55%;
		float: right;
	}
	.navlist {
		width: 100%;
		background: #f6f6f6;
		height: 50px;
		margin-left: 0;
		float: none;
		position: absolute;
		top: 110px;
		left: 0px;
	}
	.navlist li {
		font-size: 20px;
		line-height: 20px;
		height: 20px;
		margin: 0;
		width: 15%;
		text-align: center;
		border-right: 2px #b6b6b6 solid;
	}
	.navlist .on {
		border-bottom: 0;
	}
	.navlist .last {
		border-right: 0;
	}
}


@media only screen and (max-width:768px) {
	.main-right{display:none;	}
	.main-left{width:100%;margin-left:0; margin-top:17px;}
	.left-top{margin-bottom:17px;}
	.left-post{margin-bottom:15px;}
}

@media only screen and (max-width:768px) {
	.focusimg_right{display:none;}
	.focusimg_left{width:100%;height:220px;}
	.focusimg_left .title{font-size:24px;}
}

@media only screen and (max-width:768px) {
	.left-post-title{font-size:18px;line-height:22px;}
	.left-post-txt{font-size:12px; line-height:18px;height:115px;}
	.left-post-note,.left-post-date{font-size:12px}
	.left-top-pic{display:none;}
	.left-top-list{	width:96%;height:52px;padding-bottom:5px;margin-left:2%;margin-bottom:0;border-bottom:1px #e9e9e9 solid;}
    .left-top-info{width:100%;}
    .left-top-title{font-size:15px;line-height:20px; font-weight: bold; height:26px;width:73%;float:left;}
    .left-top-date{	width:20%;font-size:12px;height:26px;float:left;text-align:right;margin-left:1%}
}

@media only screen and (max-width:768px) {
	.footer-logo{display:none;}
	.footer-img{display:none;}
	.footer-link{display:none;}
	.footer-txt{width:100%;text-align:center;margin-left:0;}
}


/**以下为文章内容**/
.article {
    width: 72%;
    margin: 0 auto;
}

.article h1 {
    width: 100%;
    font-size: 36px;
    height: 100%;
    line-height: 50px;
    margin-top: 50px;
}

.article span {
    padding-right: 12px;
}

.article .notes {
    font-size: 14px;
    margin-top: 9px;
    margin-bottom: 50px;
}

.maincontent {
    font-size: 18px;
    line-height: 32px;
}

.article span {
    padding-right: 12px;
}

.article .pre {
    background: url(images171225/pre.jpg) no-repeat 0 6px;
    text-indent: 20px;
    margin-top: 50px;
}

.article .pre a, .article .next a {
    color: #39658f;
}

.article .next {
    background: url(images171225/next.jpg) no-repeat 0 6px;
    text-indent: 20px;
    margin-top: 10px;
    margin-bottom: 60px;
}

/**关于我们**/
.about {
    width: 72%;
    margin: 0 auto;
}

.about01 {
    background: url(images171225/about01.jpg)no-repeat left;
    height: 57px;
    margin-top: 30px;
    padding-top: 120px;
    padding-bottom: 20px;
    font-size: 36px;
    text-indent: 318px;
    border-bottom: 1px #b7b7b7 dashed;
}

.abouttext {
    font-size: 16px;
    line-height: 32px;
    margin-top: 60px;
    margin-bottom: 150px;
    padding-left: 20px;
}

.footerbox {
    width: 100%;
    height: 180px;
    background: #fff;
    margin-top: 15px;
}

