@charset "utf-8";
/* CSS Document */
body,html{overflow:hidden; overflow-y:auto;}
body{margin:0px; padding:0px; font-size:14px; color:#454545;}
a{color:#333; text-decoration:none; outline:none; cursor: pointer;}
a:active{star:expression(this.onFocus=this.blur()); color:#454545;} 
img{border:0px;}
a:link {text-decoration: none; outline:none; color:#454545;}
a:visited{text-decoration: none; outline:none; color:#454545;}
a:hover{text-decoration:none; color:#1c5a97; outline:none;}
ul, p, dl, dt, dd{padding:0px; margin:0px;}
dl{    display: block;    -webkit-margin-before: 0;    -webkit-margin-after: 0;    -webkit-margin-start: 0px;    -webkit-margin-end: 0px;}
li{list-style-position:outside; list-style-type:none;}
h1, h2, h3, h4, h5{font-size:14px; padding:0px; margin:0px;}
h5{font-size:12px;}

.fl{float:left;}
.fr{float:right;}
.clear_f{clear:both; height:0px; padding:0px; margin:0px; display:block; _display:inherit;}
.h10{height:10px; overflow:hidden; clear:both;}
input{background:transparent; padding:0px; font-size:12px; font-family:"微软雅黑"; color:#888; outline:none; }
em{font-style:normal;}
.mar10{ margin-top:10px;}
.mar20{ margin-top:20px;}
.ml10{ margin-left:10px;}
.mr10{ margin-right:10px;}
.pad10{ padding-top:10px;}
.bot10{ margin-bottom:10px;}
/*清除浮动2*/
.clearfix:after{ visibility:hidden; display:block; font-size:0; content: " "; clear:both; height:0;}  
.clearfix { display: inline-block; }  
* html .clearfix { height: 1%; }  
.clearfix { display: block; }
.container{ width:1002px; margin:0px auto; }

.loginTop{ background-color:#1061bc; height:150px;}
.logo{ padding-top:30px;}
.loginBg{ background-color:#fff; padding:60px; width:995px; height:360px; background:url(../images/login_bg.png) center no-repeat; margin:0px auto;}

.loginFoot{ border-top:3px solid #1061bc}
.copyright{ line-height:25px; text-align:center; color:#666; margin-top:20px;}

.loginForm{ margin-left:110px; margin-top:125px;}
.login_in{ margin-top:28px; margin-left:40px;}
.login_in input.ipt{  width:260px; line-height:38px; border:0px;}

.button{ margin-top:30px; width:310px;}
#button{


			width: 100%;


			background: #0f88eb;


    		box-shadow: none;


    		border: 0;


    		border-radius: 3px;


    		line-height: 41px;


    		color: #fff;


    		display: block;


    		font-size: 15px;


    		cursor: pointer;


    		font-family: 'Microsoft Yahei';


		}


		#button:hover{


			background: #80c3f7;


		}
		
		
		
.layui-form{ padding:0 20px; width:300px; height:235px; position:absolute; left:35%; top:65%; margin:-150px 0 0 -150px; -webkit-box-sizing:border-box;-moz-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; background:#fff;-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; }
.layui-block {
    width: 100% !important;
}

.layui-btn {
    display: inline-block;
    height: 38px;
    line-height: 38px;
    padding: 0 18px;
    background-color: #0f88eb;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.loginBg{ background-color:#fff; padding:60px; width:995px; height:300px; background:url(../images/login_bg.png) center no-repeat; margin:0px auto;}
		