@charset "utf-8";
/* CSS Document */
body,html{overflow:hidden; overflow-y:auto; font-family:"微软雅黑";}
body{margin:0px; padding:0px; font-size:14px; color:#454545;}
a{color:#333; text-decoration:none; outline:none; cursor: pointer;}
a:active{star:expression(this.onFocus=this.blur()); color:#454545;} 
img{border:0px;}
a:link {text-decoration: none; outline:none; color:#454545;}
a:visited{text-decoration: none; outline:none; color:#454545;}
a:hover{text-decoration:none; color:#1c5a97; outline:none;}
ul, p, dl, dt, dd{padding:0px; margin:0px;}
dl{    display: block;    -webkit-margin-before: 0;    -webkit-margin-after: 0;    -webkit-margin-start: 0px;    -webkit-margin-end: 0px;}
li{list-style-position:outside; list-style-type:none;}
h1, h2, h3, h4, h5{font-size:14px; padding:0px; margin:0px;}
h5{font-size:12px;}

.fl{float:left;}
.fr{float:right;}
.clear_f{clear:both; height:0px; padding:0px; margin:0px; display:block; _display:inherit;}
.h10{height:10px; overflow:hidden; clear:both;}
input{background:transparent; padding:0px; font-size:12px; font-family:"微软雅黑"; color:#888; outline:none; }
em{font-style:normal;}
.mar10{ margin-top:10px;}
.mar20{ margin-top:20px;}
.ml10{ margin-left:10px;}
.mr10{ margin-right:10px;}
.pad10{ padding-top:10px;}
.bot10{ margin-bottom:10px;}
/*清除浮动2*/
.clearfix:after{ visibility:hidden; display:block; font-size:0; content: " "; clear:both; height:0;}  
.clearfix { display: inline-block; }  
* html .clearfix { height: 1%; }  
.clearfix { display: block; }
.container{ width:1002px; margin:0px auto; }

.hdTop{ background-color:#1061bc; height:120px;}
.logo{ padding-top:15px;}
.logo img{ height:85px;}

.txlBg{ margin-top:20px; margin-bottom:20px;}



.txlLeft{ width:225px; min-height:360px;box-shadow: 0 0 9px #dbdbdb;}
.txlLeft h1{ height: 75px;background: #1061bc;line-height: 75px;text-align: center;}
.txlLeft span{display: inline-block;padding-left: 35px;background: url(../images/bumen.png) no-repeat left center;;font-size: 24px;color: #fff;}

.txlLeft ul li{line-height: 55px;border-bottom: 1px solid #ececec;}
.txlLeft ul li a{display: inline-block;padding-left: 30px;background: url(../images/txl_li.png) no-repeat left center;color: #333;font-size: 15px;margin-left: 35px;}
.txlLeft ul li.active a,.fwl-menu ul li a:hover{background: url(../images/txl_li_on.png) no-repeat left center;color: #1061bc;font-weight: bold;}

.txlRight{width: 777px;}
.txlRight .list-title{height: 67px;border-bottom: 8px solid #1061bc;line-height: 67px;text-indent: 18px;color: #1061bc;font-weight: bold;font-size: 20px;}
.txlRight-list-box{ padding:20px;}

.txlFoot{ border-top:3px solid #1061bc; padding:10px;}
.copyright{ line-height:25px; text-align:center; color:#666;}



.txlRight-list-box dl.xx_h{ background-color:#e7e7e7; height:45px; margin-top:9px;}
.txlRight-list-box dl.xx_h dt{ font-size:16px; color:#454545; font-weight:bold; float:left;  text-align:center; line-height:45px;}
.txlRight-list-box  dt.xx_bumen{ width:30%; overflow:hidden; position:relative;}

.txlRight-list-box  dt.dt{width:25%;}
.txlRight-list-box  dt.dt.name{width:20%;}
.txlRight-list-box dl.xx_dd dt{ font-size:14px; color:#454545; float:left;  text-align:center; line-height:45px; }
.txlRight-list-box dl.xx_dd dt.xx_bumen{ font-weight:bold;}
.txlRight-list-box dl.xx_dd:hover{ background-color:#fafafa; display:block;}
.txlRight-list-box dl.md{ background-color:#fafafa;}


.search_box{ box-shadow: 0 0 9px #dbdbdb; padding:20px; margin:20px auto; width:962px;}
.n_search{height: 35px;font-size: 16px;border: #dcdcdc solid 1px;  }
.n_in select{
	color: #1061bc;
    padding: 5px 10px;
    float: left;
    width: 175px;
    height: 35px;
    border: none;	
}
.n_in input.in_txt{
	margin-left: 10px;
    padding: 0 15px;
    width: 205px;
    height: 33px;
    border: none;
}

.ss_line{background: url(../images/file_line.png) no-repeat 0px center;}


.btn-search{ cursor: pointer; width: 50px; height: 35px; border: none; background: url(../images/file-search.png) no-repeat center center;}



